{% extends 'base.html' %}

{% block content %}


<div class="index1-listing-slider-wrapper float_left">
               <div class="container">
                  <div class="slider-text text-center">
                     <h4>Hey {{ user.first_name  }} {{ user.last_name  }} </h4>
                  </div>
               </div>
            </div>


<div class="freelauncer-main-wrapper float_left ptb-100">
               <div class="container">
                  <div class="home1-section-heading1">
                     <h4>Profile</h4>
                  </div>
                  <div class="freelauncer-profile float_left">
                     <div class="profile-img">
                        <img src="https://freelancerbucket.blob.core.windows.net/images/profile5.png" alt="profie">
                     </div>
                     <div class="profile-text ps-rel">
                        <a href="freelancer-listing-left-sidebar.html"><h6>{{ user.first_name  }} {{ user.last_name  }}</h6></a>
                        <a href="freelancer-listing-left-sidebar.html"><span>{{ user.role  }} </span></a><br>
                        <a href="freelancer-listing-left-sidebar.html"><span>{{ user.email  }} </span></a>
                        
                        <div class="rating-sec">
                           
                           <div class="rating-btn">
                              <a class="btn1" href="{% url 'addpost' %}">Add Post</a>
                              <a href="{% url 'allpost' %}">View All Post</a>
                           </div>
                           
                        </div>
                     </div>
                  </div>
                  <!--  -->
               </div>
            </div>


{% endblock %}