{% extends 'base.html' %}


{% block content %}

<style>
  .form-libaray {
    margin: 0 auto;
    padding: 29px 17px;
}
.pb {
    position: absolute;
    bottom: -40px;
}
.develop_main_wrapper {
    position: relative;
}
.pb {
    position: absolute;
    bottom: 7px;
    right: 42px;
    color: #c31010;
}
input.custom-btn.btn3 {
    display: inline-block;
    border: 1px solid #0d6efd;
    color: #fff;
    width: 150px;
    text-align: center;
    line-height: 37px;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    background: #0d6efd;
    text-align: center;
}

</style>
<div class="index1-listing-slider-wrapper float_left">
               <div class="container">
                  <div class="slider-text text-center">
                     <h4>{{posts.post_title}}</h4>
                     <ul>
                        <li>
                           <a href="javascript:;">Home</a>
                        </li>
                        <li>/ Jobs Details</li>
                     </ul>
                  </div>
               </div>
            </div>
<div class="inner-page-main-wrapper float_left">
               <div class="container">
                  <div class="row">
                     <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="develop_main_wrapper">
                           <div class="develop-cont">
                              <h3>
                                {{posts.post_title}}
                      
                              </h3>
                              <ul>
                                 <li>
                                    <span><i class="fa fa-suitcase" aria-hidden="true"></i></span>
                                   {{posts.tech}}
                                 </li>
                                 <li>
                                    <span><i class="fa fa-dollar-sign"></i></span>
                                    {{posts.bidamount}}
                                 </li>
                                 <li>
                                    <span><i class="fa fa-suitcase"></i></span>
                                   {{posts.tags}}
                                 </li>
                                 
                              </ul>
                           </div>
                           <div class="bid_button">
                              <!-- <button class="apply-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><span>Apply Now</span></button> -->

                              {% if user.is_authenticated %}
                              <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <span>Apply Now</span> </a>
                                {% else%}
                                
                                <a href="{% url 'login' %}"> <span>Apply Now</span> </a>
                                <br>
                                <div class="pb" >Please Login to Apply</div>


                               {% endif %}
                              


                           </div>
                        </div>
                     </div>
                     <div class="col-lg-8 col-md-12 col-sm-12 col-12">
                        <div class="descript_main_wrapper">
                           <h4>Jobs Description</h4>
                           <p>{{posts.post_content}}
                           </p>   
                        </div>
                        
                       
                     </div>
                     <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                        

                       
                        <div class="descript_main_wrapper pb-0">
                           <h4>Currency Convter</h4>
                           <div class="form-libaray">
    {% if data %}
      From: {{data.base1}}<br>
      To:  {{data.to1}}<br>
      Amount: {{data.converted}} {{data.to1}}<br>
      Last Update:{{data.dt_obj}}<br> <br>

    {% endif %}
    <form method="POST" class="form-group" enctype="multipart/form-data">  
        {% csrf_token %}  
         <div class="input-group mb-3">
          <input type="text" required="required" class="form-control" placeholder="Amount" name="amount" >
         </div>
        <div class="input-group mb-3">
          <select class="form-select" name="from" aria-label="Default select example">
              <option selected>From</option>
              <option value="INR">INR</option>
              <option value="EUR">EUR</option>
              <option value="JPY">JPY</option>
              <option value="BGN">BGN</option>
              <option value="PHP">PHP</option>
              <option value="SGD">SGD</option>
              <option value="THB">THB</option>
              <option value="ZAR">ZAR</option>
            </select>
        </div>
        
        <div class="input-group mb-3">
          <select class="form-select" name="to" aria-label="Default select example">
              <option selected>To</option>
              <option value="INR">INR</option>
              <option value="EUR">EUR</option>
              <option value="JPY">JPY</option>
              <option value="BGN">BGN</option>
              <option value="PHP">PHP</option>
              <option value="SGD">SGD</option>
              <option value="THB">THB</option>
              <option value="ZAR">ZAR</option>
            </select>
        </div>

        <input type="submit" class="btn btn-outline-success " name="Check">
    </form>
   </div>
</div>
                        </div>
                     
                        
                     </div>
                  </div>
               </div>
            </div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" style="display: none;" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered apply-job-modal">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Apply Now</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="content-box text-center">
                       <span>To apply for this job <strong>email your details to</strong></span>
                       <a href="mailto:akshujoshi41@gmail.com">akshujoshi41@gmail.com</a>
                       <p>OR Fill the form</p>
                    </div>
                  </div>
                  <div class="modal-footer">
                    
                   <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="form-one">
                        <div class="">
                            <form method="post">
                               {% csrf_token %}
                                <div class="mb-3">
                                    <input type="text" class="form-control" placeholder="Your Name" aria-label="First name">
                                </div>
                                <div class="mb-3">
                                    <input type="text" class="form-control" name="title"  value="{{posts.post_title}}" >
                                </div>
                                <div class="mb-3">
                                    <input type="email" class="form-control" name="email" placeholder="Email..">
                                </div>
                                <div class="mb-3">
                                    <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3" placeholder="Message"></textarea>
                                </div>
                                <div class="tb_es_btn_div">
                                    <div class="response center"></div>
                                    <div class="tb_es_btn_wrapper os_contact_input">
                                        <input type="submit" value="submit" class="custom-btn btn3" value="">
                                    </div>
                                </div>

                                <!-- <button type="submit" class="form-btn">Submit</button> -->
                            </form>
                        </div>
                    </div>
                </div>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}