{% extends 'base.html' %}


{% block content %}

<section>
  <div class="index1-slider-wrapper ps-rel">
            <div class="overlay-slider">
               <div class="container">
                  <div class="slider-caption">
                     <h2>Offering 25,000 Freelancer Job </h2>
                     <p>The most complete Freelancer portal software having over 70 million unique <br> visitors every day with verified.</p>
                  </div>
                  <div class="sldier-contact-form">
                     <ul>
                        <li>
                           <div class="text-field">
                              <input type="text" placeholder="Search Here"> 
                           </div>
                        </li>
                        <li> <div class="select-field"> 
                        <select>
                        <option selected="selected" value="">Select Category</option>
                        <option value="5-6">Art &amp; Craft</option>
                        <option value="7-9">Science</option>
                        <option value="10-13">Maths </option>
                        <option value="10-13">English </option>
                        </select> </div>
                        </li>
                        <li> 
                        <div class="select-field"> 
                        <select>
                        <option selected="selected" value="">Select Location</option>
                        <option value="5-6">Art &amp; Craft</option>
                        <option value="7-9">Science</option>
                        <option value="10-13">Maths </option>
                        <option value="10-13">English </option>
                        </select> 
                        </div>
                        </li>
                        <li class="btn-from">
                        <a href="javascript:;"><span>Search</span></a>
                        </li>
                     </ul>
                     <ul class="treding-list">
                     <li> Trending Keyword:</li>
                     <li> <a href="javascript:;">UI Designer,</a> </li>
                     <li> <a href="javascript:;">Developer,</a> </li>
                     <li> <a href="javascript:;">it Company,</a> </li>
                     <li> <a href="javascript:;">Design,</a> </li>
                     <li> <a href="javascript:;">Call Center</a> </li>
                     </ul>
                     </div>
                  </div>
               </div>
               <div class="container">
               </div>
            </div>

</section>

<section>
  
<div class="treding-job-wrapper float_left ptb-100">
               <div class="container">
                  <div class="home1-section-heading1">
                     <h6>New Trending Jobs</h6>
                     <h4>Most Popular &amp; Trending Jobs</h4>
                  </div>
                  <div class="tabFive custom-tab">
                     <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                           <div role="tabpanel" class="tab-panel">
                              <!-- Nav tabs -->
                              
                              <!-- Tab panes -->
                              <div class="tab-content">
                                 <div class="tab-pane fade active show" id="contentFive-1">
                                    <div class="row">


    {% for Allposts in Allposts %}
       <div class="col-lg-3 col-md-6 col-sm-6 col-12">
          <div class="trending-main-box float_left">
             <div class="trending-upper-text ps-rel">
              
                <div class="icon-img">
                   <img src="https://freelancerbucket.blob.core.windows.net/images/drive4.png" alt="img">
                </div>
                <a href="jobs-details.html"><h5>{{Allposts.post_title}}</h5></a>
             </div>
             <div class="trending-lower-text">
                <span style="text-transform: capitalize;">{{Allposts.tech}}</span>
                <a href="javascript:;"> {{Allposts.bidamount}} </a>
                <p> <span></span> {{Allposts.tags}}</p>
                <a class="custom-btn" href="detail/{{Allposts.id}}"> <span>View</span> </a>
             </div>
          </div>
       </div>
       {% endfor %}
                                       
                                       
                                       
                                       
                                       
                                       
                                       
                                    </div>
                                 </div>
                                 
                                 
                                 
                              </div>
                           </div>
                           
                        </div>
                     </div>
                  </div>
               </div>
            </div>
</section>
   




{% endblock %}