{% extends 'base.html' %}

{% block content %}


<style>
  
  .signin-wrapper {
    margin-top: 10%;
}
</style>

<section>
  <div class="login_box_main_wrapper" id="login_height" style="height: 800px;">
            <div class="container">
               
               <div class="signin-wrapper">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 col-12">
                        <div class="left-side">
                           <h4>Sign In</h4>
                            <span class="mb-0 text-danger">
                {% if msg %}
                    {{ msg | safe }}
                {% else %}
                    
                {% endif %}
              </span>
                           <form method="post">
                             {% csrf_token %}
                              <label class="ml-3" for="username">Username</label>
                              <div class="form-group field-icon row">
                                 <div class="col-md-12">
                                   {{ form.username }}
                                    <span><i class="fa fa-user" aria-hidden="true"></i></span>
                                 </div>
                              </div>
                               <label class="ml-3" for="username">Password</label>
                              <div class="form-group field-icon row">
                                 <div class="col-md-12">
                                    {{ form.password }}
                                    <span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
                                 </div>
                              </div>
                              
                            
                              <div class="login-btn-sec">
                                <input type="submit" value="Log In" class="sub-btn">
                                 
                                 
                                 <p>Do have an account? <a href="{% url 'signup' %}">Sign Up now!</a></p>
                              </div>
                           </form>
                       </div>
                     </div>
                     <div class="col-lg-6 col-md-6 col-12">
                        <div class="login-img">
                           <img src="https://freelancerbucket.blob.core.windows.net/images/login-side.png" alt="img">
                        </div>
                     </div>
                  </div>
               </div>
            </div>
          </div>

</section>
<!-- \ -->
    

{% endblock %}